.intro {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.intro--mark {
  color: var(--relayr-red);
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}

.intro-header--text {
  font-size: 3rem;
  font-weight: 200;
}

.intro-congrats {
  display: flex;
  flex-direction: column;
}

.intro-congrats--sign {
  color: rgb(75 79 86);
  text-align: right;
  font-size: 1.5rem;
}

.intro-box {
  background-color: hsl(220deg 13% 22%);
  padding: 2rem;
  text-align: center;
  letter-spacing: 1px;
}
